*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Noto sans mono", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  max-width: 2000px;
}

h1 {
  font-weight: 500;
  font-size: 1em;
}

h2 {
  font-weight: 700;
}

.noto-sans mono-regular {
  font-family: "Noto Sans Mono", monospace;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
}

.noto-sans mono-medium {
  font-family: "Noto Sans Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.noto-sans mono-semibold {
  font-family: "Noto Sans Mono", monospace;
  font-weight: 600;
  font-style: normal;
  line-height: 25px;
}

.noto-sans mono-bold {
  font-family: "Noto Sans Mono", monospace;
  font-weight: 1000;
  font-style: normal;
  font-size: x-large;
}

h2, ul, li, body {
padding: 0;
margin: 0;
}

body {
  padding: 50px;
}



.breadcrumb > h2, ul {
display: inline-flex;
list-style: none;
font-size: medium;
margin: 10px 50px;
padding-bottom: 100px;
color: #270215;
}

.breadcrumb ul > li + li {
margin-left: 5px;
}

.breadcrumb ul > li a[href] {
text-decoration: none;
position: relative;
font-weight: 400;
color: #9f9f9f;
z-index: 0;
}

.breadcrumb ul > li a[href]:hover,
.breadcrumb ul > li a[href]:focus {
color:#270215;
outline: none;
}

.breadcrumb ul > li a[href]:hover:before,
.breadcrumb ul > li a[href]:focus:before{

border-bottom: 3px solid #40007439;
left: -1px; right: 1px;
position: absolute;
bottom: -2px;
content: "";
z-index: -1;
}

.breadcrumb ul > li a:not([href]) {
font-weight: bold;
color:#6b00b7;
}

.project {
  
}

.project .project-header {
  margin: 15px 50px;
}

.project-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

.project .project-body {
  margin: 50px;
}

.project img {
  width: 400px;
  aspect-ratio: 16:9;
  object-position: left top;
  object-fit: contain;
  object-position: left top;
}

.project-img-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}
