.noto-sans mono-regular {
  font-family: "Noto Sans Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.noto-sans mono-medium {
  font-family: "Noto Sans Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.noto-sans mono-semibold {
  font-family: "Noto Sans Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.noto-sans mono-bold {
  font-family: "Noto Sans Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Noto sans mono", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  max-width: 2000px;
  margin-top: -33px;
}

h1 {
  font-weight: 700;
  font-size: 1.5em;
}

h2 {
  font-weight: 700;
}

.header {
  height: 100%;
  margin: 25px 0;
  padding: 20px;
  overflow-y: auto;
  position: fixed;
  width: 25%;
}

.header img {
  width: 200px;
  aspect-ratio: 1;
  object-fit: contain;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 2em 0;
}

.grid {
  width: 100%;
  height: 100%;
  position: fixed;
  margin-left: 30%;
  display: grid;
  grid-template-columns: repeat(2, 700px);
  gap: 1em;
  margin-top: 2em;
  background-color: rgb(196, 196, 205)
}

.assignment {
  margin: 20px;
}

.assignment a {
  color: #000;
  text-decoration: none;

}

.assignment a:hover {
  color: #f06;
}

.assignment img {
  aspect-ratio: 1;
  object-fit: cover;
}

.assignment p {
  margin-top: 0.5em;

}