*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Noto sans mono", sans-serif;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  max-width: 2000px;
}

h1 {
  font-weight: 500;
  font-size: 1em;
}

h2 {
  font-weight: 700;
}

.header {
  height: 100%;
  overflow-y: auto;
  padding-left: 70px;
  padding-top: 40px;
  padding-right: 70px;
  position: fixed;
  width: 375px;
  background-color: #e9e9e9;
}

.header img {
  width: 200px;
  aspect-ratio: 1;
  object-fit: contain;
  object-position: left center;
  padding-bottom: 30px;
}

.header .header-intro {
}

.main {
  background-color: #ffffff;
  height: 100%;
  margin-left: 375px;
  padding-left: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  position: fixed;
  overflow-y:scroll;
  overflow-x:hidden;
}

.assignment {
  display: flex;
  padding: 15px 0;
}

.assignment-info .link {
  text-decoration: none;
  color: #110023;
}

.assignment a:hover {
  color: rgb(125, 62, 142);
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}

.assignment img {
  width: 300px;
  aspect-ratio: 16:9;
  object-fit: contain;
  object-position: left top;
}

.assignment .assignment-info {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.assignment .assignment-text {
  padding: 10px 0;
}

.noto-sans mono-regular {
  font-family: "Noto Sans Mono", monospace;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  font-size: small;
}

.noto-sans mono-medium {
  font-family: "Noto Sans Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.noto-sans mono-semibold {
  font-family: "Noto Sans Mono", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: small;
  line-height: 1.25;
}

.noto-sans mono-bold {
  font-family: "Noto Sans Mono", monospace;
  font-weight: 1000;
  font-style: normal;
  font-size: x-large;
}
